@import '../../assets/sass/base';
.link {
  margin: -10rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  border-radius: 8px;
  background: $color-dark-violet
    url('../../assets/images/bg-shorten-mobile.svg') top right no-repeat;
  @include lg {
    flex-direction: row;
    background: $color-dark-violet
      url('../../assets/images/bg-shorten-desktop.svg') no-repeat;
    margin: -10rem 10rem 2rem;
    padding: 4.5rem;
    background-size: cover;
  }
  &__group {
    width: 100%;
    @include lg {
      width: 80%;
    }
  }
  &__input {
    padding: 2rem;
    border-radius: 8px;
    font-size: 1.6rem;
    border: 1px solid transparent;
    outline: none;
    font-weight: 500;
    width: 100%;
    &:focus {
      border: 1px solid $color-dark-violet;
    }
    &-error {
      border: 3px solid $color-red;
      &::placeholder {
        color: $color-red;
      }
    }
  }
  &__error {
    color: $color-red;
    font-style: italic;
    font-size: 1.2rem;
  }

  &-container {
    background-color: #eee;
    margin-top: 15rem;
    padding: 2rem 0;
  }
}
