@import '../../assets/sass/main';

.link__output {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  margin: 2rem 1rem;
  padding: 1rem 0;
  transition: all 0.5s;
  @include lg {
    flex-direction: row;
    margin: 1rem 10rem;
    padding: 2rem;
  }
  a {
    display: block;
    text-decoration: none;
    transition: all 0.5s;
    &:hover {
      text-decoration: underline;
    }
  }
  &__address {
    padding: 1rem 2rem;
    border-bottom: 1px solid $color-gray;
    @include lg {
      border: 0;
      flex: 2;
      padding: 1rem;
    }
  }
  &__result {
    padding: 1rem 2rem;

    &:link,
    &:visited {
      color: $color-cyan;
    }
    @include lg {
      padding: 1rem;
      margin-right: 1rem;
    }
  }
}
