@import '../../assets/sass/main';

.btn {
  color: white;
  font-weight: 700;
  margin-top: 2rem;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: $color-cyan;
  outline: none;
  font-size: 2.3rem;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.5s;
  @include lg {
    margin-top: 0;
    margin-left: 2rem;
    padding: 0 3rem;
    max-height: 5.8rem;
  }
  &:hover {
    background-color: darken($color-cyan, 5%);
    transform: translateY(3px);
  }
  &-shorten {
    padding: 2rem;
    @include lg {
      padding: 1rem 2rem;
    }
  }
  &-signup {
    padding: 1.5rem;
    @include lg {
      padding: 1rem 2rem;
      margin-left: 1rem;
    }
  }
  &-signout {
    padding: 1.5rem;
    margin-top: 0.5rem !important;
    display: block;
    width: 100%;
    @include lg {
      padding: 1rem 2rem;
      width: fit-content;
    }
  }
  &-copy {
    margin: 1rem 2rem;
    padding: 2rem;
    @include lg {
      margin: 0;
      padding: 0 3rem;
    }
  }
  &-copied {
    background-color: $color-dark-violet !important;
    padding: 2rem;
    margin: 1rem 2rem;
    @include lg {
      margin: 0;
      padding: 0 3rem;
    }
  }
  &-login {
    padding: 1rem;
    @include lg {
      margin-left: 0;
    }
  }
}
