@import '../../assets/sass/base';

.btn {
  color: white;
  font-weight: 700;
  margin-top: 2rem;
  padding: 2rem;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: $color-cyan;
  outline: none;
  font-size: 2.3rem;
  cursor: pointer;
  transition: all 0.5s;
  @include lg {
    margin-top: 0;
    margin-left: 2rem;
    padding: 0 3rem;
    max-height: 5.8rem;
  }
  &:hover {
    background-color: darken($color-cyan, 5%);
    transform: translateY(3px);
  }
  &-copy {
    margin: 1rem 2rem;
    @include lg {
      margin: 0;
    }
  }
  &-copied {
    background-color: $color-dark-violet !important;
    margin: 1rem 2rem;
    @include lg {
      margin: 0;
    }
  }
}
