// Colors

// Primary
$color-cyan: hsl(180, 66%, 49%);
$color-dark-violet: hsl(257, 27%, 26%);

// Secondary colors
$color-red: hsl(0, 87%, 67%);

//Neutral
$color-gray: hsl(0, 0%, 75%);
$color-grayish-violet: hsl(257, 7%, 63%);
$color-very-dark-blue: hsl(255, 11%, 22%);
$color-very-dark-violet: hsl(260, 8%, 14%);

// Breakpoints
$breakpoint-ipad: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 499px;

// Mixins
@mixin sm {
  @media (min-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$breakpoint-ipad}) {
    @content;
  }
}

//  Default Styles
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
}

.u-header-top {
  margin-top: 2rem;
  @include lg {
    margin: -1rem;
  }
}
.u-pull-right {
  @include lg {
    margin-left: auto;
  }
}
.u-circle-container {
  background-color: $color-dark-violet;
  padding: 2rem;
  width: fit-content;
  border-radius: 50%;
  margin: -6rem auto 2rem;
  @include lg {
    margin: -6rem 0 2rem;
  }
  img {
    vertical-align: middle;
  }
}

@keyframes houdini {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header-login {
  &::before {
    content: '';
    display: block;
    margin: 2rem 0;
    border-top: 0.5px solid $color-gray;
    @include lg {
      display: none;
    }
  }
}

.signup {
  @include lg {
    margin-top: -1rem;
  }
}
