.grid {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include lg {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  &-item {
    margin: 2rem 0;
    @include lg {
      flex-grow: 1;
    }
    &-1 {
      @include lg {
        flex-grow: 2;
      }
    }
    &-4 {
      @include lg {
        flex-grow: 0;
      }
    }
  }
  &-flex {
    display: flex;
    justify-content: space-between;
  }
}

.social-menu {
  display: flex;
  justify-content: space-between;
  &__item:not(:last-child) {
    margin-right: 2.5rem;
    justify-content: start;
  }
}
